main {
  .custom-container {
    padding: 0;
  }

  .masthead {
    background-size: cover;
    min-height: 100vh;
    position: relative;
  }

  h1,
  h2 {
    color: white;
  }

  .me {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
  }
}

footer {
  img {
    height: 2rem;
    width: 2rem;
    margin: {
      left: 1rem;
      right: 1rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .masthead {
    min-height: 50vh;
  }
  h1 {
    font-size: calc(1.525rem + 3.3vw);
  }
}
